.page {
  flex: 1 0 auto;

  .about-company {
    &__wrapper {
      position: relative;
      z-index: 1;
      margin: 6px;
      background: #FFFFFF;
      border-radius: 8px;
      height: 780px;
      @media (min-width: 1200px) {
        height: 872px;
        margin: 16px;
      }

    }

    &__body {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-top: 20px;
      @media (min-width: 768px) {
        padding: 0;
      }
      @media (min-width: 1200px) {
        padding: 0 20px;
      }
    }

    .logo-page {
      display: flex;
      align-items: center;
      @media (min-width: 768px) {
        padding-right: 20px;
      }

      &__title {
        display: none;
        @media (min-width: 768px) {
          display: block;
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #000000;
        }
      }

      &__image {
        margin: 0 32px 0 12px;
        @media (min-width: 768px) {
          margin-right: 6px;
        }
      }
    }

    &__menu-btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 768px) {
        margin-top: 36px;
      }

    }

    &__btn-title {
      display: none;
      @media (min-width: 768px) {
        display: block;
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 32px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #000000;
        padding-top: 10px;
      }
    }

    .number-page {
      display: flex;
      //margin: 26px 0 0 12px;
      padding-right: 10px;
      align-items: center;
      @media (min-width: 768px) {
        margin-top: 0;
      }

      &__link {
        padding: 14px 24px;
        width: 72px;
        height: 52px;
        border: 2px solid #FFBB33;
        border-radius: 28px;
        margin-left: 10px;
        order: 1;
      }

      &__number-link {
        display: none;
        @media (min-width: 768px) {
          display: block;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 32px;
          text-align: right;
          letter-spacing: 0.02em;
          color: #000000;
          order: 0;
        }
      }
    }


    .block-page {
      padding: 0 20px;
      @media (min-width: 576px) {
        padding: 0 60px;
      }

      &__title {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        color: #000000;
        margin: 24px 0;
        @media (min-width: 576px) {
          font-size: 44px;
          line-height: 60px;
        }
        @media (min-width: 1200px) {
          margin: 8px 0 40px 0;
        }
      }

      .text-group {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #000000;
        display: flex;
        flex-direction: column;
        max-width: 260px;
        margin-bottom: 24px;
        @media (min-width: 576px) {
          max-width: 500px;
          font-size: 24px;
        }
        @media (min-width: 768px) {
          max-width: 100%;
        }
        @media (min-width: 1200px) {

        }

        &__sub-text, &__sub-title {
          @media (min-width: 1200px) {
            display: none;
          }
        }

        &__text-group-pc {
          display: none;
          @media (min-width: 1200px) {
            display: block;
            max-width: 910px;
          }
        }
      }

      &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin: 24px 0;
        max-width: 260px;
        @media (min-width: 576px) {
          font-size: 20px;
          max-width: 500px;
        }
        @media (min-width: 768px) {
          display: none;
        }
      }

      &__text-pc {
        display: none;
        @media (min-width: 768px) {
          display: block;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          margin: 24px 0;
          max-width: 640px;
          @media (min-width: 1200px) {
            max-width: 800px;
            font-size: 20px;
            line-height: 32px;
            color: #000000;
            margin-bottom: 48px;
          }
        }
      }

      .button-more {
        width: 272px;
        height: 56px;
        background: #FFBB33;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 120px;
        @media (min-width: 576px) {
          margin-bottom: 200px;
        }
        @media (min-width: 768px) {
          margin-bottom: 80px;
        }
        @media (min-width: 1200px) {
          width: 192px;
          height: 56px;
          margin-bottom: 130px;
        }

        &__btn {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #000000;
          border: none;
          background: none;
        }
      }

      .factory-img {
        &__image {
          position: absolute;
          bottom: 0;
          right: 0;
          object-position: right;
          object-fit: cover;
          z-index: -1;
          @media (min-width: 1200px) {
            display: none;
          }
        }

        &__image-pc {
          display: none;
          @media (min-width: 1200px) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            object-position: right;
            object-fit: cover;
            z-index: -1;
          }
        }
      }

      .arrow-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        gap: 10px;
        width: 72px;
        height: 52px;
        background: #FFBB33;
        border-radius: 28px;
        margin: auto;
      }
    }

    .menu-btn-page {
      border: 2px solid #FFBB33;

      span {
        background-color: #000000FF;
      }
    }
  }



  //products-block start

  .products-block {
    &__wrapper {
      margin: 6px;
      background: #FFFFFF;
      border-radius: 8px;
    }

    &__body {
      display: flex;
      flex-direction: row;
    }

    .menu-btn-page {
      border: 2px solid #FFBB33;

      span {
        background-color: #000000FF;
      }
    }

    .number-page {
      //border: 2px solid #FFBB33;
    }
    &__btn-title {
      display: none;
      @media (min-width: 768px) {
        display: block;
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 32px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #000000;
        padding-top: 10px;
      }
    }
  }


  .activity-block {
    position: relative;

    &__wrapper {

    }

    &__body {
      display: flex;

    }

    .arrow-activity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 14px 24px;
      gap: 10px;
      width: 72px;
      height: 52px;
      background: #FFBB33;
      border-radius: 28px;
      margin: auto;
    }

    &__mobile-bg {
      position: absolute;
      top: 0;
      width: 96%;
      height: 784px;
      object-fit: cover;
      object-position: center;
      z-index: -999;
      border-radius: 8px;
    }
  }


  .wind-warm-block {
    position: relative;

    &__wrapper {
      margin: 6px;
    }

    &__body {
      display: flex;
      flex-direction: row;
    }

    .box-wind {
      .title-block {
        display: flex;
        flex-direction: column;
        margin: 24px 0;

        &__title, &__sub-title {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 44px;
          color: #FFFFFF;
        }
      }

      &__sub-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }

      &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        width: 284px;
        margin: 24px 0;
      }

      .button-about {
        width: 272px;
        height: 56px;
        background: #FFBB33;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

        &__btn {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #000000;
          border: none;
          background: none;
        }
      }

      .arrow-wind {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        gap: 10px;
        width: 72px;
        height: 52px;
        background: #FFBB33;
        border-radius: 28px;
        margin: auto;
      }

    }

    &__mobile-bg {
      position: absolute;
      top: 0;
      width: 96%;
      height: 784px;
      object-fit: cover;
      object-position: center;
      z-index: -999;
      border-radius: 8px;
    }

  }

  .transport-company-block {
    position: relative;
    margin-top: 32px;

    &__wrapper {
      margin: 6px;
    }

    &__body {
      display: flex;
      flex-direction: row;
    }

    .box-transport {

      &__title-block {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin: 24px 0;
      }

      &__sub-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 24px 0;
      }

      &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 246px;
        margin: 24px 0;

      }
    }

    .button-about {
      width: 272px;
      height: 56px;
      background: #FFBB33;
      border-radius: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      &__btn {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
        border: none;
        background: none;
      }
    }

    .arrow-transport {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 14px 24px;
      gap: 10px;
      width: 72px;
      height: 52px;
      background: #FFBB33;
      border-radius: 28px;
      margin: auto;
    }

    &__mobile-bg {
      position: absolute;
      top: 0;
      width: 96%;
      height: 784px;
      object-fit: cover;
      object-position: center;
      z-index: -999;
      border-radius: 8px;
    }

  }

  .medical-center-block {
    position: relative;
    margin-top: 32px;

    &__wrapper {
      margin: 6px;
    }

    &__body {
      display: flex;
      flex-direction: row;
    }

    .box-medical {

      &__title-block {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin: 24px 0;
      }

      &__sub-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 24px 0;
      }

      &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 24px 0;

      }
    }

    .button-about {
      width: 272px;
      height: 56px;
      background: #FFBB33;
      border-radius: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;

      &__btn {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
        border: none;
        background: none;
      }
    }

    .arrow-medical {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 14px 24px;
      gap: 10px;
      width: 72px;
      height: 52px;
      background: #FFBB33;
      border-radius: 28px;
      margin: auto;
    }

    &__mobile-bg {
      position: absolute;
      top: 0;
      width: 96%;
      height: 784px;
      object-fit: cover;
      object-position: center;
      z-index: -999;
      border-radius: 8px;
    }

  }


}



