$fontFamily: "Inter" !important;

$fontSize: "";
$mainColor: "";


html{
  height: 100%;
  scroll-behavior: smooth !important;

}

body{
  color:$mainColor;
  font-family: $fontFamily ;
  font-size: $fontSize;
  background-color: #000000FF;
  display: flex;
  flex-direction: column;
  height: 100%;

}

$maxWidth: 1270;


$md1: 1199.98;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;
$md5: 319.98;

._container{
  max-width: $maxWidth + px;
  padding: 0px 15px;
  margin: 0 auto;
}